<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.MajorMapper">
    <insert id="createmajor" parameterType="Major" useGeneratedKeys="true" keyProperty="mid">
        insert into Major (mname) values (#{mname})
    </insert>
    
    
    <select id="selectmajorbyname" resultType="Major">
        select * from Major where mname = #{mname}
    </select>
    
    
    <select id="selectmajorbystudent" resultMap="getallmajor">
        select * from Major m inner join Student s on m.mid=s.mid where s.sname=#{sname}
    </select>
    <select id="selectmajorbycourse" resultMap="getallmajor">
        select * from Major m inner join Course c on m.mid=c.mid where c.cname=#{cname}
    </select>
    
    <resultMap type ="com.example.domain.Major" id = "getallmajor">
        <id column = "mid" property = "mid"></id>
        <result column = "mname" property = "mname"/>
        <collection property = "mstudent" ofType = "com.example.domain.Student">
            <id column = "sid" property = "sid"/>
            <result column = "sname" property = "sname"/>
        </collection>
        <collection property = "mcourse" ofType = "com.example.domain.Course">
            <id column = "cid" property = "cid"/>
            <result column = "cname" property = "cname"/>
        </collection>
    </resultMap>
    
</mapper>